<template>
  <div>
    <md-checkbox
      v-for="item in lista"
      :key="item.nombre"
      v-model="listaretorno"
      v-bind:value="item.url"
      >{{ item.nombre }}</md-checkbox
    >
    <br />
  </div>
</template>


<script>
export default {
  name: "tipos",
  props: {
    lista: [],
  },
  data() {
    return {
      listaretorno: [],
    };
  },
  watch: {
    listaretorno: function () {
      this.$emit("buscarFiltro", this.listaretorno);
    },
  },
};
</script>
