<template>
  <div
    class="card-pokemon md-elevation-7"
    @click="abrirDetalles(urlDetalle, id, nombre)"
  >
    <span class="md-title tituloCard">{{ nombre }}</span>
    <img v-bind:src="imagen" class="thumb" />
    <div class="dropTitulo"></div>
  </div>
</template>

<script>
export default {
  name: "itemPkemon",
  props: {
    id: Number,
    nombre: String,
    urlDetalle: String,
    imagen: String,
  },
  methods: {
    abrirDetalles(url, id, nombre) {
      this.$emit("modalDetalle", { url, id, nombre });
    },
  },
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
.card-pokemon {
  width: 200px;
  height: 180px;
  margin: 8px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  background-image: url("~@/assets/bgcard.png");
  cursor: pointer;
}

.thumb {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.dropTitulo {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 76%;
  transition: 0.3s;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.73) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.tituloCard {
  position: absolute;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  bottom: 10%;
  left: 5%;
  transition: 0.3s;
  z-index: 9999;
}

.card-pokemon:hover .tituloCard {
  bottom: 80%;
}

.card-pokemon:hover .dropTitulo {
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.74) 0%,
    rgba(0, 0, 0, 0.79) 100%
  );
}
</style>
