<template>
    <div  v-show="visible" class="fondo-modal" >
        <div class="carga">
            <div class="parte-roja"></div>
            <div class="bola"></div>
            <div class="parte-blanca"></div>
            <div class="boton-grande"></div>
            <div class="boton-pequeño"></div>
            <div class="linea-central"></div>
        </div>

    </div>
</template>


<script>
export default {
    name:"Modalcarga",
    data(){
        return {
            visible:false
        }
    },
    methods:{
        abrir: function(){
            this.visible=true;
        },
        cerrar: function(){
            this.visible=false;
        },

    }
}
</script>

<style>
.fondo-modal{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.247);
}
.carga{ 
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top:0;
    bottom:0;
    animation: loading 2s infinite;
}

.bola{
  border-radius: 50%;
width: 205px;
height: 205px;
border: 6px solid #1d1d1b;
z-index: 100;
display: block;
margin: auto;
left: 0;
right: 0;
top: 0;
bottom: 0;
position: absolute;
}

.parte-roja{
     margin: auto;
    left: 0;
    right: 0;
    top: -100px;
    bottom: 0;
    z-index: 0;
    position: absolute;
    background-color: rgb(219, 18, 18);
    border-radius: 105px 105px 0 0;
    width: 200px;
    height: 100px;
}


.parte-blanca{
 margin: auto;
left: 0;
right: 0;
top: 100px;
bottom: 0;
z-index: 0;
position: absolute;
background-color: white;
border-radius: 0 0 105px 105px;
width: 200px;
height: 100px;
}

.linea-central{
position: absolute;
margin: auto;
    margin-top: auto;
left: 0;
right: 0;
top: 0;
bottom: 0;
margin-top: auto;
border-radius: 0px;
width: 193px;
height: 13px;
background-color: #1d1d1b;
z-index: 3;
}

.boton-grande{
  z-index: 4;
margin: auto;
left: 0;
right: 0;
top: 0;
bottom: 0;
border-radius: 50%;
border: 5px solid #1d1d1b;
position: absolute;
height: 60px;
width: 60px;
background-color: white;
}

.boton-pequeño{
z-index: 5;
margin: auto;
left: 0;
right: 0;
top: 0;
bottom: 0;
border-radius: 50%;
border: 1px solid #1d1d1b;
position: absolute;
height: 38px;
width: 38px;
background-color: white;
}

@keyframes loading {
  0 { transform: translate(0, 0) rotate(0); }
  25% { transform: translate(-8px, 0) rotate(-18deg); }
  33% { transform: translate(8px, 0) rotate(18deg); }
  50% { transform: translate(-8px, 0) rotate(-12deg); }
  60% { transform: translate(8px, 0) rotate(18deg); }
  100% { transform: translate(0, 0) rotate(0); }
}
</style>