<template>
  <div v-show="visible" class="fondo-modal">
    <div class="detalle">
      <div class="iconoCerrar" @click="cerrar('s')">
        <md-icon>cancel</md-icon>
      </div>

      <div class="infoArriba">
        <div class="imagenPokemon">
          <img v-bind:src="urlImagen" alt="" />
        </div>
        <div class="infoPokemon">
          <br />
          <span class="md-title popinsBold">{{ nombre }}</span> <br />
          <span class="md-subheading">{{ descripcion }}</span
          ><br />
          <span class="md-body-2 popinsRegular"
            ><strong>height:</strong> {{ height }}</span
          >
          <br />
          <span class="md-body-2 popinsRegular"
            ><strong>weight:</strong> {{ weight }}</span
          >
          <br />
          <span class="md-body-2 popinsRegular"
            ><strong>habitat:</strong> {{ habitat }}</span
          >
          <br />
          <span class="md-body-2 popinsRegular"
            ><strong>color:</strong> {{ color }}</span
          >
          <br /><br />
          <span class="md-body-2 popinsRegular"><strong>Types:</strong> </span>
          <br />

          <md-chip v-for="item in tipos" :key="item">{{
            item.type.name
          }}</md-chip>
        </div>
      </div>
      <div class="infoAbajo"></div>
    </div>
  </div>
</template>


<script>
export default {
  name: "Modaldetalles",
  data() {
    return {
      visible: false,
      urlImagen: new String(),
      nombre: new String(),
      descripcion: new String(),
      id: new String(),
      tipos: [],
      height: new String(),
      weight: new String(),
      habitat: new String(),
      color: new String(),
    };
  },
  methods: {
    abrir: function (urlimagen, id, nombre, adicional) {
      console.log("lo esta", adicional);
      this.visible = true;
      this.urlImagen = urlimagen;
      this.id = id;
      this.nombre = nombre;
      this.tipos = adicional.types;
      this.height = adicional.height;
      this.weight = adicional.weight;
      this.habitat = adicional.habitat;
      this.color = adicional.color;
    },
    cerrar: function (id) {
      console.log("ss", id);
      this.visible = false;
    },
  },
};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
.popinsBold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.popinsRegular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.fondo-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background: rgba(0, 0, 0, 0.247);
}
.detalle {
  position: absolute;
  margin: auto;
  left: calc(50% - 350px);
  top: calc(50% - 250px);
  width: 700px;
  height: 500px;
  border-radius: 12px;
  background: #fff;
}

.infoArriba {
  position: absolute;
  width: 100%;
  height: 70%;
  top: 0;
  padding: 10px;
}

.infoArriba .imagenPokemon {
  width: 40%;
  display: flex;
  align-content: center;
  justify-content: center;
  position: absolute;
  left: 0;
}

.infoArriba .imagenPokemon img {
  width: 100%;
  height: 100%;
  margin: 16px;
}

.infoArriba .infoPokemon {
  position: absolute;
  right: 0;
  width: 60%;
}

.infoAbajo {
  position: absolute;
  width: 100%;
  height: 300%;
  bottom: 0;
}
.iconoCerrar {
  position: absolute;
  height: 20px;
  width: 20px;
  right: 12px;
  top: 12px;
  cursor: pointer;
  z-index: 9999;
}
</style>