<template>
  <div class="page-container">
    <Modalcarga ref="modalcarga" />
    <Modaldetalles ref="modaldetalle" />
    <md-toolbar>
      <h3 class="md-title" style="flex: 1">
        <img class="imagenLogo" src="~@/assets/logo.png" alt="" />
      </h3>
      <md-button @click="resetear" class="md-raised md-primary">RESTAURAR</md-button>
      <md-field style="width: 200px">
        <label>Buscar Pokemons</label>
        <md-input v-model="filtro"></md-input>
      </md-field>
    </md-toolbar>
    <md-app>
      <md-app-drawer md-permanent="full">
        <md-toolbar class="md-transparent" md-elevation="1"> Tipo </md-toolbar>

        <tipos :lista="listaTipos" v-on:buscarFiltro="buscarPoktipo($event)" />
        <md-toolbar class="md-transparent" md-elevation="1"> Color </md-toolbar>

        <color
          :lista="listaColores"
          v-on:buscarFiltro="buscarPokcolor($event)"
        />
      </md-app-drawer>

      <md-app-content class="md-layout centrar_layout">
        <itemPokemon
          v-for="pkm in pokefiltrados"
          :key="pkm.id"
          :id="pkm.id"
          :nombre="pkm.nombre"
          :urlDetalle="pkm.urlDetalle"
          :imagen="pkm.imagen"
          v-on:modalDetalle="abrirDetalles($event)"
        />

        <md-button
          class="md-accent"
          style="margin-bottom: 80px; width: 100%"
          @click="cargarMas"
          >Cargar más</md-button
        >
      </md-app-content>
    </md-app>
  </div>
</template>

<style lang="scss" scoped>
.md-app {
  height: 100%;
  border: 1px solid rgba(#000, 0.12);
}

// Demo purposes only
.md-drawer {
  width: 230px;
  max-width: calc(100vw - 125px);
}
.page-container {
  height: 100%;
}
.centrar_layout {
  align-content: center;
  justify-content: center;
}
.imagenLogo {
  margin: 5px;
  width: 130px;
}
</style>


<script>
import itemPokemon from "./components/Itempokemon.vue";
import Modalcarga from "./components/Modalcarga.vue";
import Modaldetalles from "./components/Modaldetalles.vue";
import tipos from "./components/itemtipos.vue";
import color from "./components/itemcolor.vue";
export default {
  name: "App",
  components: {
    itemPokemon,
    Modalcarga,
    Modaldetalles,
    tipos,
    color,
  },
  data() {
    return {
      filtro: "",
      urlColor: "https://pokeapi.co/api/v2/pokemon-color/",
      urlInfopokemon: [
        "https://pokeapi.co/api/v2/pokemon/",
        "https://pokeapi.co/api/v2/pokemon-species/",
      ],
      urlTipos: "https://pokeapi.co/api/v2/type/",
      urlTgumb:
        "https://assets.pokemon.com/assets/cms2/img/pokedex/detail/IDPOKEMON.png",
      listageneralPokemons: [],
      listamostrarPokemon: [],
      hayMas: false,
      currentSlice: 0,
      datoSeleccion: {},
      listaTipos: [],
      listaColores: [],
      listaPoktipo: [],
      listaPokcolor: [],
      listaPokgender: [],
    };
  },
  computed: {
    pokefiltrados() {
      console.log(this.filtro);
      if (this.filtro.trim().length > 0) {
        let pornombre = this.listamostrarPokemon.filter((item) => {
          return (
            item.nombre.toLowerCase().indexOf(this.filtro.toLowerCase()) > -1
          );
        });

        let porid = this.listamostrarPokemon.filter((item) => {
          return item.id.toString().indexOf(this.filtro) > -1;
        });
        return pornombre.concat(porid);
      } else {
        return this.listamostrarPokemon;
      }
    },
  },
  methods: {
    resetear: async function () {
      this.$refs.modalcarga.abrir();
      this.datoSeleccion = {};
      this.listaTipos = [];
      this.listaColores = [];
      this.listaPoktipo = [];
      this.listaPokcolor = [];
      this.listaPokgender = [];
      await this.getTipos();
      await this.getColor();
      this.listaGeneral();
      this.listaMostrar();
      this.$refs.modalcarga.cerrar();
    },
    listaMostrar: function () {
      //ordenamos el arreglo
      this.listageneralPokemons.sort((a, b) => {
        return a.id - b.id;
      });
      //asignamos los primeros 20 registros a mostrar
      this.listamostrarPokemon = this.listageneralPokemons.slice(
        0,
        this.currentSlice + 20
      );
      this.currentSlice = 20;

      this.hayMas =
        this.currentSlice <= this.listageneralPokemons.length ? true : false;
    },
    listaGeneral: function () {
      let self = this;
      self.listageneralPokemons = [];
      fetch("https://pokeapi.co/api/v2/pokedex/national")
        .then(function (response) {
          if (response.ok) {
            response.json().then((lista) => {
              lista.pokemon_entries.forEach((item) => {
                self.listageneralPokemons.push({
                  id: item.entry_number,
                  nombre: item.pokemon_species.name,
                  urlDetalle: item.pokemon_species.url,
                  imagen: self.urlTgumb.replace(
                    "IDPOKEMON",
                    item.entry_number.toString().padStart(3, "0")
                  ),
                });
              });
              self.listaMostrar();
              self.$refs.modalcarga.cerrar();
            });
          } else {
            console.log("Respuesta de red OK pero respuesta HTTP no OK");
          }
        })
        .catch(function (error) {
          console.log(
            "Hubo un problema con la petición Fetch:" + error.message
          );
        });
    },
    getInfopokemon: async function (idPokemon) {
      let self = this;

      return new Promise((resolve, reject) => {
        fetch(this.urlInfopokemon[0] + "" + idPokemon)
          .then(function (response) {
            if (response.ok) {
              response.json().then((datos) => {
                console.log(datos);

                self.datoSeleccion.height = datos.height;
                self.datoSeleccion.weight = datos.weight;
                self.datoSeleccion.types = datos.types;
                resolve(self.datoSeleccion);
              });
            } else {
              reject("Respuesta de red OK pero respuesta HTTP no OK");
              console.log("Respuesta de red OK pero respuesta HTTP no OK");
            }
          })
          .catch(function (error) {
            reject("Hubo un problema con la petición Fetch:" + error.message);
            console.log(
              "Hubo un problema con la petición Fetch:" + error.message
            );
          });
      });
    },
    getInfopokemon_more: function (idPokemon) {
      let self = this;
      return new Promise((resolve, reject) => {
        fetch(this.urlInfopokemon[1] + "" + idPokemon)
          .then(function (response) {
            if (response.ok) {
              response.json().then((datos) => {
                console.log(datos);

                self.datoSeleccion.color = datos.color.name;
                self.datoSeleccion.habitat = datos.habitat.name;

                resolve(self.datoSeleccion);
              });
            } else {
              reject("Respuesta de red OK pero respuesta HTTP no OK");
              console.log("Respuesta de red OK pero respuesta HTTP no OK");
            }
          })
          .catch(function (error) {
            reject("Hubo un problema con la petición Fetch:" + error.message);
            console.log(
              "Hubo un problema con la petición Fetch:" + error.message
            );
          });
      });
    },
    abrirDetalles: async function (datos) {
      this.$refs.modalcarga.abrir();
      await this.getInfopokemon(datos.id);
      await this.getInfopokemon_more(datos.id);
      this.$refs.modalcarga.cerrar();
      let urlImagen =
        "https://assets.pokemon.com/assets/cms2/img/pokedex/full/IDPOKEMON.png";
      this.$refs.modaldetalle.abrir(
        urlImagen.replace("IDPOKEMON", datos.id.toString().padStart(3, "0")),
        datos.id.toString().padStart(3, "0"),
        datos.nombre,
        this.datoSeleccion
      );
    },
    buscaId: function (url) {
      let coincidencia = url.match(/\/pokemon\/(\d+)\//);
      if (coincidencia) {
        return coincidencia[1];
      } else {
        coincidencia = url.match(/\/pokemon-species\/(\d+)\//);
        if (coincidencia) {
          return coincidencia[1];
        } else {
          return 0;
        }
      }
    },
    getTipos: async function () {
      let self = this;
      return new Promise((resolve, reject) => {
        fetch(this.urlTipos)
          .then(function (response) {
            if (response.ok) {
              response.json().then((datos) => {
                datos.results.forEach((ele) => {
                  self.listaTipos.push({ nombre: ele.name, url: ele.url });
                });
              });

              resolve(self.datoSeleccion);
            } else {
              reject("Respuesta de red OK pero respuesta HTTP no OK");
              console.log("Respuesta de red OK pero respuesta HTTP no OK");
            }
          })
          .catch(function (error) {
            reject("Hubo un problema con la petición Fetch:" + error.message);
            console.log(
              "Hubo un problema con la petición Fetch:" + error.message
            );
          });
      });
    },
    getColor: async function () {
      let self = this;
      return new Promise((resolve, reject) => {
        fetch(this.urlColor)
          .then(function (response) {
            if (response.ok) {
              response.json().then((datos) => {
                datos.results.forEach((ele) => {
                  self.listaColores.push({ nombre: ele.name, url: ele.url });
                });
              });

              resolve(self.datoSeleccion);
            } else {
              reject("Respuesta de red OK pero respuesta HTTP no OK");
              console.log("Respuesta de red OK pero respuesta HTTP no OK");
            }
          })
          .catch(function (error) {
            reject("Hubo un problema con la petición Fetch:" + error.message);
            console.log(
              "Hubo un problema con la petición Fetch:" + error.message
            );
          });
      });
    },
    buscaPokurl: async function (url, tipo) {
      let self = this;
      return new Promise((resolve, reject) => {
        fetch(url)
          .then(function (response) {
            if (response.ok) {
              let temporal = [];
              response.json().then((datos) => {
                if (tipo === "tipo") {
                  datos.pokemon.forEach((ele) => {
                    temporal.push({
                      id: parseInt(self.buscaId(ele.pokemon.url)),
                      nombre: ele.pokemon.name,
                      urlDetalle: ele.pokemon.url,
                      imagen: self.urlTgumb.replace(
                        "IDPOKEMON",
                        self
                          .buscaId(ele.pokemon.url)
                          .toString()
                          .padStart(3, "0")
                      ),
                    });
                  });
                } else {
                  datos.pokemon_species.forEach((ele) => {
                    console.log(ele);
                    temporal.push({
                      id: parseInt(self.buscaId(ele.url)),
                      nombre: ele.name,
                      urlDetalle: ele.url,
                      imagen: self.urlTgumb.replace(
                        "IDPOKEMON",
                        self.buscaId(ele.url).toString().padStart(3, "0")
                      ),
                    });
                  });
                }

                resolve(temporal);
              });
            } else {
              reject("Respuesta de red OK pero respuesta HTTP no OK");
              console.log("Respuesta de red OK pero respuesta HTTP no OK");
            }
          })
          .catch(function (error) {
            reject("Hubo un problema con la petición Fetch:" + error.message);
            console.log(
              "Hubo un problema con la petición Fetch:" + error.message
            );
          });
      });
    },
    buscarPoktipo: async function (urls) {
      this.$refs.modalcarga.abrir();
      let self = this;
      console.log(urls);
      this.listaPoktipo = [];
      if (urls.length > 0) {
        urls.forEach(async (elemento) => {
          await this.buscaPokurl(elemento, "tipo").then((resultado) => {
            self.listaPoktipo = self.listaPoktipo.concat(resultado);
            self.llenarLista();
          });
        });
      } else {
        this.listaPoktipo = [];
        self.llenarLista();
      }
    },

    buscarPokcolor: async function (urls) {
      this.$refs.modalcarga.abrir();
      let self = this;
      console.log(urls, "color");
      this.listaPokcolor = [];
      if (urls.length > 0) {
        urls.forEach(async (elemento) => {
          await this.buscaPokurl(elemento, "color").then((resultado) => {
            self.listaPokcolor = self.listaPokcolor.concat(resultado);
            self.llenarLista();
          });
        });
      } else {
        this.listaPokcolor = [];
        self.llenarLista();
      }
    },
    llenarLista: function () {
      console.log(
        this.listaPoktipo.length,
        this.listaPokcolor.length,
        this.listaPokgender.length
      );
      if (
        this.listaPoktipo.length > 0 ||
        this.listaPokcolor.length > 0 ||
        this.listaPokgender.length > 0
      ) {
        console.log("entro");
        this.listageneralPokemons = [];
        this.listageneralPokemons = this.listageneralPokemons.concat(
          this.listaPokcolor,
          this.listaPoktipo,
          this.listaPokgender
        );

        console.log(this.listageneralPokemons);
        this.listaMostrar();
        this.$refs.modalcarga.cerrar();
      } else {
        this.listaGeneral();
        this.listaMostrar();
        this.$refs.modalcarga.cerrar();
        console.log("entro aca");
      }
    },
    cargarMas: function () {
      if (this.currentSlice < this.listageneralPokemons.length) {
        this.currentSlice += 20;
        this.listamostrarPokemon = this.listageneralPokemons.slice(
          0,
          this.currentSlice
        );
        this.hayMas =
          this.currentSlice <= this.listageneralPokemons.length ? true : false;
      }
    },
  },
  async mounted() {
    this.$refs.modalcarga.abrir();
    this.listaGeneral();
    await this.getTipos();
    await this.getColor();
  },
};
</script>



